@import './reset.scss';
@import './variables.scss';

html {
  height: 100%;

  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;

  @media screen and (max-width: $widthMobile) {
    font-size: 22px;
  }

  @media screen and (max-width: $widthTablet) {
    font-size: 28px; 
  }
}

body {
  min-height: 100%;
  color: #ffffff;
  background-color: #4c4c4c;
}

h1, h2, p {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

hr {
  margin: 1rem 0;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

div {
  box-sizing: border-box;
}

#application {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;

  display: flex;

  h1.PageTitle {
    text-align: center;
  }

  @media screen and (min-width: $widthDesktop) {
    padding: 2em;
    flex-direction: row;

    #content {
      flex-basis: 80%;
    }

    #navigation {
      padding: 0 2rem;
    }
  }

  @media screen and (max-width: $widthTablet) {
    padding: 0 0.5em;
    flex-direction: column;

    #content {
      margin-top: calc(70px + 3rem);
    }

    #navigation {
      height: 100%;
    }
  }
}