#Illustrations {
  .IllustrationsGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &-Box {
      cursor: pointer;
      
      height: 128px;
      margin: 1rem;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}