.ImageGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (max-width: 768px) {
    &-Thumb {
      margin: 0.4rem;
    }
  }

  &-Thumb {
    cursor: pointer;
    
    height: 128px;
    margin: 0 1rem 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}