@import '../styles/variables.scss';

.MobileHeader {
  // Hide on desktop
  @media screen and (min-width: $widthDesktop) {
    display: none;
  }

  @media screen and (max-width: $widthTablet) {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #3c3c3c;
    width: 100%;
    height: calc(70px + 2rem);
    box-shadow: 0 0 5px black;

    display: flex;
    flex-direction: row;
    align-content: center;

    &-Logo {
      width: 70px;
      height: 70px;

      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;

      img {
        height: 100%;
      }
    }

    &-Content {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &-Text {
        @media screen and (max-width: $widthTablet) {
          font-size: 2rem;
        }
        @media screen and (max-width: $widthMobile) {
          font-size: 1.4rem;
        }
      }
    }
  }
}