.Navbar {
  @media screen and (min-width: 900px) {
    flex-basis: 20%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;

    margin-right: 2em;

    .logo {
      height: 180px;
      margin-bottom: 1em;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 899px) {
    display: flex;
  }

  &-Submenu {
    // visibility: hidden;
    // height: 0px;
    max-height: 0px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
  
    &.menu-visible {
      visibility: visible;
      // height: auto;
      max-height: 500px;
      transition: max-height 0.75s ease-in;
    }
  }

  .NavLink {
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
    transition: 0.1s;

    &:hover {
      cursor: pointer;
      background-color: #ccc;
      color: #4c4c4c;
    }

    &.Accordion-visible {
      background-color: #ccc;
      color: #4c4c4c;
    }

    &.SubNavLink {
      background-color: #ddd;
      color: #4c4c4c;
    }

    &.SubNavLink:hover {
      color: #9e9e9e;
    }
  }
}