.NavLink {
  font-size: 1.1rem;
  padding: 0.5em 0;
  text-align: center;
  transition: 0.1s;

  @media screen and (min-width: 769px) {
    &:hover {
      cursor: pointer;
      background-color: #ccc;
      color: #4c4c4c;
    }

    &.Accordion-visible {
      background-color: #ccc;
      color: #4c4c4c;
    }

    &.SubNavLink {
      background-color: #ddd;
      color: #4c4c4c;
    }

    &.SubNavLink:hover {
      color: #9e9e9e;
    }
  }
}